    <input list="region" name="region" id="regionSelector" onChange="toggle_departement(this.value)">
    <datalist id="region">
        <option value="Auvergne-Rhône-Alpes"></option>
        <option value="Bourgogne-Franche-Comté"></option>
        <option value="Bretagne"></option>
        <option value="Centre-Val de Loire"></option>
        <option value="Grand Est"></option>
        <option value="Guadeloupe"></option>                                      
        <option value="Guyane"></option>
        <option value="Hauts-de-France"></option>
        <option value="Île-de-France"></option>
        <option value="La Corse"></option>
        <option value="Martinique"></option>
        <option value="Mayotte"></option>
        <option value="Normandie"></option>
        <option value="Nouvelle-Aquitaine"></option>
        <option value="Occitanie"></option>
        <option value="Pays de la Loire"></option>
        <option value="Provence-Alpes-Côte d'Azur"></option>
        <option value="Réunion">Réunion</option>
    </datalist>

    <span id="Auvergne-Rhône-Alpes" style="display:none;">
        Bonjour je suis un gros chapeau.
    </span>

    <span id="Bourgogne-Franche-Comté" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Bretagne" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Centre-Val de Loire" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Grand Est" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Guadeloupe" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Guyane" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Hauts-de-France" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Île-de-France" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="La Corse" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Martinique" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Mayotte" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Normandie" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Nouvelle-Aquitaine" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Occitanie" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Pays de la Loire" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Provence-Alpes-Côte d'Azur" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Réunion" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>
=======
    </span>
