/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@font-face{
    font-family: 'Montserrat';
    src:font-url('Montserrat-Regular.ttf')format('truetype');
}

*
{
    font-family: Montserrat;
}

.header
{
    width: 100%;
    position:fixed;
    background-color:#fbfdfc;
    top:0;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index:1000;
    border-width: 0.8cm;
    border-color:#0a3e65;
    border-bottom:solid;

    .flexheaderc
    {
        display:inline-block;
    }

    img
    {
        padding: 0;
        margin: 0;
        height: 12vh;
    }

    a
    {
        color:#0a3e65;
        text-decoration: none;
    }
}

body
{
    margin:0;
    padding-top:14vh;

    .maindiv
    {
        margin: 0;
        padding: 0;
        width: 100%;
	    font-size: small;
        color: black;
        font-weight:small; 
    }

    footer
    {
        padding: 0;
        margin:0;
        background-color: #0a3e65;
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        p
        {
            font-size: 0.75vh;
            font-size: 0.75vw;
            color: white;
            font-weight:normal;
            width: 100%;

            a
            {
                color:white;
                text-decoration: none;
            }
        }
    }
}

#cookieconsent
{
    background-color: lightgray;
    padding: 0 200px;
    width: calc(100% - 400px);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;

    .cookieconsentl
    {
        margin-right: auto;
    }

    .cookieconsentr
    {
        margin: auto 0 auto 15px;
        span
        {
            padding: 5px 15px;
            background-color: white;
            border-radius: 30px;

            &:hover
            {
                cursor: pointer;
                background-color: #bbb;
            }
        }
    }
}